.swatch-picker-container {
    display: inline-block;
    position: relative;
}
.swatch-picker {
    width: 360px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 200ms cubic-bezier(0.4, 0, 0.2, 1)
}
.swatch-picker.closed {
    visibility: hidden;
    opacity: 0;
}
.swatch-color {
    height: 20px;
    width:  20px;
    display: inline-block;
    position: relative;
}
.swatch-color:hover {
    cursor: pointer;  
}
.swatch-color:after {
    background: inherit;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform .2s;
    z-index: 0;
}
.swatch-color:hover:after, .swatch-color:focus:after {  
    -webkit-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    outline: none;
    z-index: 1;
}
